name: TimeCafe
services:
  auth-service:
    build:
      target: debug
    labels:
      - "com.microsoft.visualstudio.debuggee=true"
  profile-service:
    build:
      target: debug
    labels:
      - "com.microsoft.visualstudio.debuggee=true"
  venue-service:
    build:
      target: debug
    labels:
      - "com.microsoft.visualstudio.debuggee=true"
  billing-service:
    build:
      target: debug
    labels:
      - "com.microsoft.visualstudio.debuggee=true"

  yarp-proxy:
    build:
      target: debug
    labels:
      - "com.microsoft.visualstudio.debuggee=true"
    depends_on:
      elasticsearch:
        condition: service_healthy
      auth-service:
        condition: service_started
      profile-service:
        condition: service_started
      venue-service:
        condition: service_started
      billing-service:
        condition: service_started
