name: TimeCafe
services:
  auth-service:
    labels:
      - "com.microsoft.visualstudio.debuggee=true"
  profile-service:
    labels:
      - "com.microsoft.visualstudio.debuggee=true"
  venue-service:
    labels:
      - "com.microsoft.visualstudio.debuggee=true"

  yarp-proxy:
    entrypoint: ["dotnet", "/app/bin/Debug/net9.0/YarpProxy.dll"]
    depends_on:
      elasticsearch:
        condition: service_healthy
      auth-service:
        condition: service_started
      profile-service:
        condition: service_started
      venue-service:
        condition: service_started
      billing-service:
        condition: service_started
