.personal-data-root {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
}

.personal-data-section {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex: 1;
}

.personal-data-photo {
    max-width: 200px;
    border-radius: 8px;
}

.personal-data-actions {
    display: flex;
    gap: 12px;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.input-with-button {
    display: flex;
    gap: 8px;
    align-items: center;
}

.custom-tag {
    margin: 0px !important;
    padding-right: 0px !important;
}

.dark-green {
    background: var(--colorStatusSuccessBackground1) !important;
    color: var(--colorStatusSuccessForeground1) !important;
}

.pumpkin {
    background: var(--colorStatusWarningBackground1) !important;
    color: var(--colorStatusWarningForeground1) !important;
}

.beige {
    background: var(--colorStatusNeutralBackground1) !important;
    color: var(--colorStatusNeutralForeground1) !important;
}

.dark-red {
    background: var(--colorStatusDangerBackground1) !important;
    color: var(--colorStatusDangerForeground1) !important;
}