@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  min-width: 320px;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: auto;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.FluentProvider {
  /* background-color: var(--colorNeutralBackground2) !important; */
  width: 100%;
}

.tc-noise-overlay {
  /*background-image: url("./assets/nnnoise_0F6CBD.svg");*/

  background-image: url("assets/ooorganize.svg");

  background-size: 300px 300px;
  background-color: rgba(0, 0, 0, 0.02);
}

.tc-wave-repeat-x {
  background-repeat: repeat-x;
  background-position: center bottom;
  background-size: 2400px auto;
}

/* Fluent UI Button: единый паттерн для текста (no-wrap + ellipsis) */
.fui-Button .fui-Button__content {
  min-width: 0;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
